---
swagger: "2.0"
info:
  version: "1.0.47"
  title: "Mailchimp Transactional API"
  contact:
    name: "API Support"
    email: "apihelp@mailchimp.com"
  x-permalink: "https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/transactional.json"
host: "mandrillapp.com"
basePath: "/api/1.0"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
- "application/xml"
- "application/x-php"
- "application/x-yaml; charset=utf-8"
paths:
  /allowlists/add:
    post:
      tags:
      - "allowlists"
      summary: "Add email to allowlist"
      description: "Adds an email to your email rejection allowlist. If the address\
        \ is currently on your denylist, that denylist entry will be removed automatically."
      operationId: "postAllowlistsAdd"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200"
      deprecated: false
      x-custom-config:
        methodNameCamel: "add"
        methodNameSnake: "add"
  /allowlists/list:
    post:
      tags:
      - "allowlists"
      summary: "List allowlisted emails"
      description: "Retrieves your email rejection allowlist. You can provide an email\
        \ address or search prefix to limit the results. Returns up to 1000 results."
      operationId: "postAllowlistsList"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_1"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "up to 1000 allowlist entries"
            items:
              $ref: "#/definitions/inline_response_200_1"
      deprecated: false
      x-custom-config:
        methodNameCamel: "list"
        methodNameSnake: "list"
  /allowlists/delete:
    post:
      tags:
      - "allowlists"
      summary: "Remove email from allowlist"
      description: "Removes an email address from the allowlist."
      operationId: "postAllowlistsDelete"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_2"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_2"
      deprecated: false
      x-custom-config:
        methodNameCamel: "delete"
        methodNameSnake: "delete"
  /exports/info:
    post:
      tags:
      - "exports"
      summary: "View export info"
      description: "Returns information about an export job. If the export job's state\
        \ is 'complete', the returned data will include a URL you can use to fetch\
        \ the results. Every export job produces a zip archive, but the format of\
        \ the archive is distinct for each job type. The api calls that initiate exports\
        \ include more details about the output format for that job type."
      operationId: "postExportsInfo"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_3"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_3"
      deprecated: false
      x-custom-config:
        methodNameCamel: "info"
        methodNameSnake: "info"
  /exports/list:
    post:
      tags:
      - "exports"
      summary: "List exports"
      description: "Returns a list of your exports."
      operationId: "postExportsList"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_4"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the account's exports"
            items:
              $ref: "#/definitions/inline_response_200_4"
      deprecated: false
      x-custom-config:
        methodNameCamel: "list"
        methodNameSnake: "list"
  /exports/rejects:
    post:
      tags:
      - "exports"
      summary: "Export denylist"
      description: "Begins an export of your rejection denylist. The denylist will\
        \ be exported to a zip archive containing a single file named rejects.csv\
        \ that includes the following fields: email, reason, detail, created_at, expires_at,\
        \ last_event_at, expires_at."
      operationId: "postExportsRejects"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_5"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_5"
      deprecated: false
      x-custom-config:
        methodNameCamel: "rejects"
        methodNameSnake: "rejects"
  /exports/whitelist:
    post:
      tags:
      - "exports"
      summary: "Export Allowlist"
      description: "Begins an export of your rejection allowlist. The allowlist will\
        \ be exported to a zip archive containing a single file named allowlist.csv\
        \ that includes the following fields: email, detail, created_at."
      operationId: "postExportsWhitelist"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_6"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_6"
      deprecated: false
      x-custom-config:
        methodNameCamel: "whitelist"
        methodNameSnake: "whitelist"
  /exports/allowlist:
    post:
      tags:
      - "exports"
      summary: "Export Allowlist"
      description: "Begins an export of your rejection allowlist. The allowlist will\
        \ be exported to a zip archive containing a single file named allowlist.csv\
        \ that includes the following fields: email, detail, created_at."
      operationId: "postExportsAllowlist"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_7"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_6"
      deprecated: false
      x-custom-config:
        methodNameCamel: "allowlist"
        methodNameSnake: "allowlist"
  /exports/activity:
    post:
      tags:
      - "exports"
      summary: "Export activity history"
      description: "Begins an export of your activity history. The activity will be\
        \ exported to a zip archive containing a single file named activity.csv in\
        \ the same format as you would be able to export from your account's activity\
        \ view. It includes the following fields: Date, Email Address, Sender, Subject,\
        \ Status, Tags, Opens, Clicks, Bounce Detail. If you have configured any custom\
        \ metadata fields, they will be included in the exported data."
      operationId: "postExportsActivity"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_8"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_7"
      deprecated: false
      x-custom-config:
        methodNameCamel: "activity"
        methodNameSnake: "activity"
  /inbound/domains:
    post:
      tags:
      - "inbound"
      summary: "List inbound domains"
      description: "List the domains that have been configured for inbound delivery."
      operationId: "postInboundDomains"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_9"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the inbound domains associated with the account"
            items:
              $ref: "#/definitions/inline_response_200_8"
      deprecated: false
      x-custom-config:
        methodNameCamel: "domains"
        methodNameSnake: "domains"
  /inbound/add-domain:
    post:
      tags:
      - "inbound"
      summary: "Add inbound domain"
      description: "Add an inbound domain to your account."
      operationId: "postInboundAddDomain"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_10"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_9"
      deprecated: false
      x-custom-config:
        methodNameCamel: "addDomain"
        methodNameSnake: "add_domain"
  /inbound/check-domain:
    post:
      tags:
      - "inbound"
      summary: "Check domain settings"
      description: "Check the MX settings for an inbound domain. The domain must have\
        \ already been added with the add-domain call."
      operationId: "postInboundCheckDomain"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_11"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_10"
      deprecated: false
      x-custom-config:
        methodNameCamel: "checkDomain"
        methodNameSnake: "check_domain"
  /inbound/delete-domain:
    post:
      tags:
      - "inbound"
      summary: "Delete inbound domain"
      description: "Delete an inbound domain from the account. All mail will stop\
        \ routing for this domain immediately."
      operationId: "postInboundDeleteDomain"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_12"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_11"
      deprecated: false
      x-custom-config:
        methodNameCamel: "deleteDomain"
        methodNameSnake: "delete_domain"
  /inbound/routes:
    post:
      tags:
      - "inbound"
      summary: "List mailbox routes"
      description: "List the mailbox routes defined for an inbound domain."
      operationId: "postInboundRoutes"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_13"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the routes associated with the domain"
            items:
              $ref: "#/definitions/inline_response_200_12"
      deprecated: false
      x-custom-config:
        methodNameCamel: "routes"
        methodNameSnake: "routes"
  /inbound/add-route:
    post:
      tags:
      - "inbound"
      summary: "Add mailbox route"
      description: "Add a new mailbox route to an inbound domain."
      operationId: "postInboundAddRoute"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_14"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_13"
      deprecated: false
      x-custom-config:
        methodNameCamel: "addRoute"
        methodNameSnake: "add_route"
  /inbound/update-route:
    post:
      tags:
      - "inbound"
      summary: "Update mailbox route"
      description: "Update the pattern or webhook of an existing inbound mailbox route.\
        \ If null is provided for any fields, the values will remain unchanged."
      operationId: "postInboundUpdateRoute"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_15"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_14"
      deprecated: false
      x-custom-config:
        methodNameCamel: "updateRoute"
        methodNameSnake: "update_route"
  /inbound/delete-route:
    post:
      tags:
      - "inbound"
      summary: "Delete mailbox route"
      description: "Delete an existing inbound mailbox route."
      operationId: "postInboundDeleteRoute"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_16"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_15"
      deprecated: false
      x-custom-config:
        methodNameCamel: "deleteRoute"
        methodNameSnake: "delete_route"
  /inbound/send-raw:
    post:
      tags:
      - "inbound"
      summary: "Send mime document"
      description: "Take a raw MIME document destined for a domain with inbound domains\
        \ set up, and send it to the inbound hook exactly as if it had been sent over\
        \ SMTP."
      operationId: "postInboundSendRaw"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_17"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "an array of the information for each recipient in the message\
              \ (usually one) that matched an inbound route"
            items:
              $ref: "#/definitions/inline_response_200_16"
      deprecated: false
      x-custom-config:
        methodNameCamel: "sendRaw"
        methodNameSnake: "send_raw"
  /ips/list:
    post:
      tags:
      - "ips"
      summary: "List ip addresses"
      description: "Lists your dedicated IPs."
      operationId: "postIpsList"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_18"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "an array of objects for each dedicated IP"
            items:
              $ref: "#/definitions/inline_response_200_17"
      deprecated: false
      x-custom-config:
        methodNameCamel: "list"
        methodNameSnake: "list"
  /ips/info:
    post:
      tags:
      - "ips"
      summary: "Get ip info"
      description: "Retrieves information about a single dedicated IP."
      operationId: "postIpsInfo"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_19"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_18"
      deprecated: false
      x-custom-config:
        methodNameCamel: "info"
        methodNameSnake: "info"
  /ips/provision:
    post:
      tags:
      - "ips"
      summary: "Request additional ip"
      description: "Requests an additional dedicated IP for your account. Accounts\
        \ may have one outstanding request at any time, and provisioning requests\
        \ are processed within 24 hours."
      operationId: "postIpsProvision"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_20"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_19"
      deprecated: false
      x-custom-config:
        methodNameCamel: "provision"
        methodNameSnake: "provision"
  /ips/start-warmup:
    post:
      tags:
      - "ips"
      summary: "Start ip warmup"
      description: "Begins the warmup process for a dedicated IP. During the warmup\
        \ process, the Transactional API will gradually increase the percentage of\
        \ your mail that is sent over the warming-up IP, over a period of roughly\
        \ 30 days. The rest of your mail will be sent over shared IPs or other dedicated\
        \ IPs in the same pool."
      operationId: "postIpsStartWarmup"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_21"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_20"
      deprecated: false
      x-custom-config:
        methodNameCamel: "startWarmup"
        methodNameSnake: "start_warmup"
  /ips/cancel-warmup:
    post:
      tags:
      - "ips"
      summary: "Cancel ip warmup"
      description: "Cancels the warmup process for a dedicated IP."
      operationId: "postIpsCancelWarmup"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_22"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_20"
      deprecated: false
      x-custom-config:
        methodNameCamel: "cancelWarmup"
        methodNameSnake: "cancel_warmup"
  /ips/set-pool:
    post:
      tags:
      - "ips"
      summary: "Move ip to different pool"
      description: "Moves a dedicated IP to a different pool."
      operationId: "postIpsSetPool"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_23"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_21"
      deprecated: false
      x-custom-config:
        methodNameCamel: "setPool"
        methodNameSnake: "set_pool"
  /ips/delete:
    post:
      tags:
      - "ips"
      summary: "Delete ip address"
      description: "Deletes a dedicated IP. This is permanent and cannot be undone."
      operationId: "postIpsDelete"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_24"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_22"
      deprecated: false
      x-custom-config:
        methodNameCamel: "delete"
        methodNameSnake: "delete"
  /ips/list-pools:
    post:
      tags:
      - "ips"
      summary: "List ip pools"
      description: "Lists your dedicated IP pools."
      operationId: "postIpsListPools"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_25"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the dedicated IP pools for your account, up to a maximum\
              \ of 1,000"
            items:
              $ref: "#/definitions/inline_response_200_23"
      deprecated: false
      x-custom-config:
        methodNameCamel: "listPools"
        methodNameSnake: "list_pools"
  /ips/pool-info:
    post:
      tags:
      - "ips"
      summary: "Get ip pool info"
      description: "Describes a single dedicated IP pool."
      operationId: "postIpsPoolInfo"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_26"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_24"
      deprecated: false
      x-custom-config:
        methodNameCamel: "poolInfo"
        methodNameSnake: "pool_info"
  /ips/create-pool:
    post:
      tags:
      - "ips"
      summary: "Add ip pool"
      description: "Creates a pool and returns it. If a pool already exists with this\
        \ name, no action will be performed."
      operationId: "postIpsCreatePool"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_27"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_24"
      deprecated: false
      x-custom-config:
        methodNameCamel: "createPool"
        methodNameSnake: "create_pool"
  /ips/delete-pool:
    post:
      tags:
      - "ips"
      summary: "Delete ip pool"
      description: "Deletes a pool. A pool must be empty before you can delete it,\
        \ and you cannot delete your default pool."
      operationId: "postIpsDeletePool"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_28"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_25"
      deprecated: false
      x-custom-config:
        methodNameCamel: "deletePool"
        methodNameSnake: "delete_pool"
  /ips/check-custom-dns:
    post:
      tags:
      - "ips"
      summary: "Test custom dns"
      description: "Tests whether a domain name is valid for use as the custom reverse\
        \ DNS for a dedicated IP."
      operationId: "postIpsCheckCustomDns"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_29"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_26"
      deprecated: false
      x-custom-config:
        methodNameCamel: "checkCustomDns"
        methodNameSnake: "check_custom_dns"
  /ips/set-custom-dns:
    post:
      tags:
      - "ips"
      summary: "Set custom dns"
      description: "Configures the custom DNS name for a dedicated IP."
      operationId: "postIpsSetCustomDns"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_30"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_27"
      deprecated: false
      x-custom-config:
        methodNameCamel: "setCustomDns"
        methodNameSnake: "set_custom_dns"
  /messages/send:
    post:
      tags:
      - "messages"
      summary: "Send new message"
      description: "Send a new transactional message through the Transactional API."
      operationId: "postMessagesSend"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_31"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "an array of objects for each recipient containing the key\
              \ \"email\" with the email address, and details of the message status\
              \ for that recipient"
            items:
              $ref: "#/definitions/inline_response_200_28"
      deprecated: false
      x-custom-config:
        methodNameCamel: "send"
        methodNameSnake: "send"
  /messages/send-template:
    post:
      tags:
      - "messages"
      summary: "Send using message template"
      description: "Send a new transactional message through the Transactional API\
        \ using a template."
      operationId: "postMessagesSendTemplate"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_32"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "an array of objects for each recipient containing the key\
              \ \"email\" with the email address, and details of the message status\
              \ for that recipient"
            items:
              $ref: "#/definitions/inline_response_200_29"
      deprecated: false
      x-custom-config:
        methodNameCamel: "sendTemplate"
        methodNameSnake: "send_template"
  /messages/search:
    post:
      tags:
      - "messages"
      summary: "Search messages by date"
      description: "Search recently sent messages and optionally narrow by date range,\
        \ tags, senders, and API keys. If no date range is specified, results within\
        \ the last 7 days are returned. This method may be called up to 20 times per\
        \ minute. If you need the data more often, you can use /messages/info.json\
        \ to get the information for a single message, or webhooks to push activity\
        \ to your own application for querying."
      operationId: "postMessagesSearch"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_33"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "an array of objects for each matching message"
            items:
              $ref: "#/definitions/inline_response_200_30"
      deprecated: false
      x-custom-config:
        methodNameCamel: "search"
        methodNameSnake: "search"
  /messages/search-time-series:
    post:
      tags:
      - "messages"
      summary: "Search messages by hour"
      description: "Search the content of recently sent messages and return the aggregated\
        \ hourly stats for matching messages."
      operationId: "postMessagesSearchTimeSeries"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_34"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the array of history information"
            items:
              $ref: "#/definitions/inline_response_200_31"
      deprecated: false
      x-custom-config:
        methodNameCamel: "searchTimeSeries"
        methodNameSnake: "search_time_series"
  /messages/info:
    post:
      tags:
      - "messages"
      summary: "Get message info"
      description: "Get the information for a single recently sent message."
      operationId: "postMessagesInfo"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_35"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_32"
      deprecated: false
      x-custom-config:
        methodNameCamel: "info"
        methodNameSnake: "info"
  /messages/content:
    post:
      tags:
      - "messages"
      summary: "Get message content"
      description: "Get the full content of a recently sent message."
      operationId: "postMessagesContent"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_36"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_33"
      deprecated: false
      x-custom-config:
        methodNameCamel: "content"
        methodNameSnake: "content"
  /messages/parse:
    post:
      tags:
      - "messages"
      summary: "Parse mime document"
      description: "Parse the full MIME document for an email message, returning the\
        \ content of the message broken into its constituent pieces."
      operationId: "postMessagesParse"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_37"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_34"
      deprecated: false
      x-custom-config:
        methodNameCamel: "parse"
        methodNameSnake: "parse"
  /messages/send-raw:
    post:
      tags:
      - "messages"
      summary: "Send mime document"
      description: "Take a raw MIME document for a message, and send it exactly as\
        \ if it were sent through the Transactional API's SMTP servers."
      operationId: "postMessagesSendRaw"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_38"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "object"
            description: ""
      deprecated: false
      x-custom-config:
        methodNameCamel: "sendRaw"
        methodNameSnake: "send_raw"
  /messages/list-scheduled:
    post:
      tags:
      - "messages"
      summary: "List scheduled emails"
      description: "Queries your scheduled emails."
      operationId: "postMessagesListScheduled"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_39"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "a list of up to 1000 scheduled emails"
            items:
              $ref: "#/definitions/inline_response_200_35"
      deprecated: false
      x-custom-config:
        methodNameCamel: "listScheduled"
        methodNameSnake: "list_scheduled"
  /messages/cancel-scheduled:
    post:
      tags:
      - "messages"
      summary: "Cancel scheduled email"
      description: "Cancels a scheduled email."
      operationId: "postMessagesCancelScheduled"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_40"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "information about the scheduled email that was cancelled."
            items:
              $ref: "#/definitions/inline_response_200_35"
      deprecated: false
      x-custom-config:
        methodNameCamel: "cancelScheduled"
        methodNameSnake: "cancel_scheduled"
  /messages/reschedule:
    post:
      tags:
      - "messages"
      summary: "Reschedule email"
      description: "Reschedules a scheduled email."
      operationId: "postMessagesReschedule"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_41"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "information about the scheduled email that was rescheduled."
            items:
              $ref: "#/definitions/inline_response_200_35"
      deprecated: false
      x-custom-config:
        methodNameCamel: "reschedule"
        methodNameSnake: "reschedule"
  /metadata/list:
    post:
      tags:
      - "metadata"
      summary: "List metadata fields"
      description: "Get the list of custom metadata fields indexed for the account."
      operationId: "postMetadataList"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_42"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the custom metadata fields for the account"
            items:
              $ref: "#/definitions/inline_response_200_36"
      deprecated: false
      x-custom-config:
        methodNameCamel: "list"
        methodNameSnake: "list"
  /metadata/add:
    post:
      tags:
      - "metadata"
      summary: "Add metadata field"
      description: "Add a new custom metadata field to be indexed for the account."
      operationId: "postMetadataAdd"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_43"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_37"
      deprecated: false
      x-custom-config:
        methodNameCamel: "add"
        methodNameSnake: "add"
  /metadata/update:
    post:
      tags:
      - "metadata"
      summary: "Update metadata field"
      description: "Update an existing custom metadata field."
      operationId: "postMetadataUpdate"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_44"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_38"
      deprecated: false
      x-custom-config:
        methodNameCamel: "update"
        methodNameSnake: "update"
  /metadata/delete:
    post:
      tags:
      - "metadata"
      summary: "Delete metadata field"
      description: "Delete an existing custom metadata field. Deletion isn't instataneous,\
        \ and /metadata/list will continue to return the field until the asynchronous\
        \ deletion process is complete."
      operationId: "postMetadataDelete"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_45"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_39"
      deprecated: false
      x-custom-config:
        methodNameCamel: "delete"
        methodNameSnake: "delete"
  /rejects/add:
    post:
      tags:
      - "rejects"
      summary: "Add email to denylist"
      description: "Adds an email to your email rejection denylist. Addresses that\
        \ you add manually will never expire and there is no reputation penalty for\
        \ removing them from your denylist. Attempting to denylist an address that\
        \ has been added to the allowlist will have no effect."
      operationId: "postRejectsAdd"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_46"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_40"
      deprecated: false
      x-custom-config:
        methodNameCamel: "add"
        methodNameSnake: "add"
  /rejects/list:
    post:
      tags:
      - "rejects"
      summary: "List denylisted emails"
      description: "Retrieves your email rejection denylist. You can provide an email\
        \ address to limit the results. Returns up to 1000 results. By default, entries\
        \ that have expired are excluded from the results; set include_expired to\
        \ true to include them."
      operationId: "postRejectsList"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_47"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "Up to 1000 rejection entries"
            items:
              $ref: "#/definitions/inline_response_200_41"
      deprecated: false
      x-custom-config:
        methodNameCamel: "list"
        methodNameSnake: "list"
  /rejects/delete:
    post:
      tags:
      - "rejects"
      summary: "Delete email from denylist"
      description: "Deletes an email rejection. There is no limit to how many rejections\
        \ you can remove from your denylist, but keep in mind that each deletion has\
        \ an affect on your reputation."
      operationId: "postRejectsDelete"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_48"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_42"
      deprecated: false
      x-custom-config:
        methodNameCamel: "delete"
        methodNameSnake: "delete"
  /senders/list:
    post:
      tags:
      - "senders"
      summary: "List account senders"
      description: "Return the senders that have tried to use this account."
      operationId: "postSendersList"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_49"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "an array of sender data, one for each sending addresses\
              \ used by the account"
            items:
              $ref: "#/definitions/inline_response_200_43"
      deprecated: false
      x-custom-config:
        methodNameCamel: "list"
        methodNameSnake: "list"
  /senders/domains:
    post:
      tags:
      - "senders"
      summary: "List sender domains"
      description: "Returns the sender domains that have been added to this account."
      operationId: "postSendersDomains"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_50"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "an array of sender domain data, one for each sending domain\
              \ used by the account"
            items:
              $ref: "#/definitions/inline_response_200_44"
      deprecated: false
      x-custom-config:
        methodNameCamel: "domains"
        methodNameSnake: "domains"
  /senders/add-domain:
    post:
      tags:
      - "senders"
      summary: "Add sender domain"
      description: "Adds a sender domain to your account. Sender domains are added\
        \ automatically as you send, but you can use this call to add them ahead of\
        \ time."
      operationId: "postSendersAddDomain"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_51"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_45"
      deprecated: false
      x-custom-config:
        methodNameCamel: "addDomain"
        methodNameSnake: "add_domain"
  /senders/check-domain:
    post:
      tags:
      - "senders"
      summary: "Check domain settings"
      description: "Checks the SPF and DKIM settings for a domain, as well the domain\
        \ verification. If you haven't already added this domain to your account,\
        \ it will be added automatically."
      operationId: "postSendersCheckDomain"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_52"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_46"
      deprecated: false
      x-custom-config:
        methodNameCamel: "checkDomain"
        methodNameSnake: "check_domain"
  /senders/verify-domain:
    post:
      tags:
      - "senders"
      summary: "Verify domain"
      description: "Sends a verification email in order to verify ownership of a domain.\
        \ Domain verification is a required step to confirm ownership of a domain.\
        \ Once a domain has been verified in a Transactional API account, other accounts\
        \ may not have their messages signed by that domain unless they also verify\
        \ the domain. This prevents other Transactional API accounts from sending\
        \ mail signed by your domain."
      operationId: "postSendersVerifyDomain"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_53"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_47"
      deprecated: false
      x-custom-config:
        methodNameCamel: "verifyDomain"
        methodNameSnake: "verify_domain"
  /senders/info:
    post:
      tags:
      - "senders"
      summary: "Get sender info"
      description: "Return more detailed information about a single sender, including\
        \ aggregates of recent stats."
      operationId: "postSendersInfo"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_54"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_48"
      deprecated: false
      x-custom-config:
        methodNameCamel: "info"
        methodNameSnake: "info"
  /senders/time-series:
    post:
      tags:
      - "senders"
      summary: "View sender history"
      description: "Return the recent history (hourly stats for the last 30 days)\
        \ for a sender."
      operationId: "postSendersTimeSeries"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_55"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the array of history information"
            items:
              $ref: "#/definitions/inline_response_200_49"
      deprecated: false
      x-custom-config:
        methodNameCamel: "timeSeries"
        methodNameSnake: "time_series"
  /subaccounts/list:
    post:
      tags:
      - "subaccounts"
      summary: "List subaccounts"
      description: "Get the list of subaccounts defined for the account, optionally\
        \ filtered by a prefix."
      operationId: "postSubaccountsList"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_56"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the subaccounts for the account, up to a maximum of 1,000"
            items:
              $ref: "#/definitions/inline_response_200_50"
      deprecated: false
      x-custom-config:
        methodNameCamel: "list"
        methodNameSnake: "list"
  /subaccounts/add:
    post:
      tags:
      - "subaccounts"
      summary: "Add subaccount"
      description: "Add a new subaccount."
      operationId: "postSubaccountsAdd"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_57"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_51"
      deprecated: false
      x-custom-config:
        methodNameCamel: "add"
        methodNameSnake: "add"
  /subaccounts/info:
    post:
      tags:
      - "subaccounts"
      summary: "Get subaccount info"
      description: "Given the ID of an existing subaccount, return the data about\
        \ it."
      operationId: "postSubaccountsInfo"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_58"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_52"
      deprecated: false
      x-custom-config:
        methodNameCamel: "info"
        methodNameSnake: "info"
  /subaccounts/update:
    post:
      tags:
      - "subaccounts"
      summary: "Update subaccount"
      description: "Update an existing subaccount."
      operationId: "postSubaccountsUpdate"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_59"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_53"
      deprecated: false
      x-custom-config:
        methodNameCamel: "update"
        methodNameSnake: "update"
  /subaccounts/delete:
    post:
      tags:
      - "subaccounts"
      summary: "Delete subaccount"
      description: "Delete an existing subaccount. Any email related to the subaccount\
        \ will be saved, but stats will be removed and any future sending calls to\
        \ this subaccount will fail."
      operationId: "postSubaccountsDelete"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_60"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_54"
      deprecated: false
      x-custom-config:
        methodNameCamel: "delete"
        methodNameSnake: "delete"
  /subaccounts/pause:
    post:
      tags:
      - "subaccounts"
      summary: "Pause subaccount"
      description: "Pause a subaccount's sending. Any future emails delivered to this\
        \ subaccount will be queued for a maximum of 3 days until the subaccount is\
        \ resumed."
      operationId: "postSubaccountsPause"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_61"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_55"
      deprecated: false
      x-custom-config:
        methodNameCamel: "pause"
        methodNameSnake: "pause"
  /subaccounts/resume:
    post:
      tags:
      - "subaccounts"
      summary: "Resume subaccount"
      description: "Resume a paused subaccount's sending."
      operationId: "postSubaccountsResume"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_62"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_56"
      deprecated: false
      x-custom-config:
        methodNameCamel: "resume"
        methodNameSnake: "resume"
  /tags/list:
    post:
      tags:
      - "tags"
      summary: "List tags"
      description: "Return all of the user-defined tag information."
      operationId: "postTagsList"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_63"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "a list of user-defined tags"
            items:
              $ref: "#/definitions/inline_response_200_57"
      deprecated: false
      x-custom-config:
        methodNameCamel: "list"
        methodNameSnake: "list"
  /tags/delete:
    post:
      tags:
      - "tags"
      summary: "Delete tag"
      description: "Deletes a tag permanently. Deleting a tag removes the tag from\
        \ any messages that have been sent, and also deletes the tag's stats. There\
        \ is no way to undo this operation, so use it carefully."
      operationId: "postTagsDelete"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_64"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_58"
      deprecated: false
      x-custom-config:
        methodNameCamel: "delete"
        methodNameSnake: "delete"
  /tags/info:
    post:
      tags:
      - "tags"
      summary: "Get tag info"
      description: "Return more detailed information about a single tag, including\
        \ aggregates of recent stats."
      operationId: "postTagsInfo"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_65"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_59"
      deprecated: false
      x-custom-config:
        methodNameCamel: "info"
        methodNameSnake: "info"
  /tags/time-series:
    post:
      tags:
      - "tags"
      summary: "View tag history"
      description: "Return the recent history (hourly stats for the last 30 days)\
        \ for a tag."
      operationId: "postTagsTimeSeries"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_66"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the array of history information"
            items:
              $ref: "#/definitions/inline_response_200_31"
      deprecated: false
      x-custom-config:
        methodNameCamel: "timeSeries"
        methodNameSnake: "time_series"
  /tags/all-time-series:
    post:
      tags:
      - "tags"
      summary: "View all tags history"
      description: "Return the recent history (hourly stats for the last 30 days)\
        \ for all tags."
      operationId: "postTagsAllTimeSeries"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_67"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the array of history information"
            items:
              $ref: "#/definitions/inline_response_200_31"
      deprecated: false
      x-custom-config:
        methodNameCamel: "allTimeSeries"
        methodNameSnake: "all_time_series"
  /templates/add:
    post:
      tags:
      - "templates"
      summary: "Add template"
      description: "Add a new template."
      operationId: "postTemplatesAdd"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_68"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_60"
      deprecated: false
      x-custom-config:
        methodNameCamel: "add"
        methodNameSnake: "add"
  /templates/info:
    post:
      tags:
      - "templates"
      summary: "Get template info"
      description: "Get the information for an existing template."
      operationId: "postTemplatesInfo"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_69"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_61"
      deprecated: false
      x-custom-config:
        methodNameCamel: "info"
        methodNameSnake: "info"
  /templates/update:
    post:
      tags:
      - "templates"
      summary: "Update template"
      description: "Update the code for an existing template. If null is provided\
        \ for any fields, the values will remain unchanged."
      operationId: "postTemplatesUpdate"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_70"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_62"
      deprecated: false
      x-custom-config:
        methodNameCamel: "update"
        methodNameSnake: "update"
  /templates/publish:
    post:
      tags:
      - "templates"
      summary: "Publish template content"
      description: "Publish the content for the template. Any new messages sent using\
        \ this template will start using the content that was previously in draft."
      operationId: "postTemplatesPublish"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_71"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_63"
      deprecated: false
      x-custom-config:
        methodNameCamel: "publish"
        methodNameSnake: "publish"
  /templates/delete:
    post:
      tags:
      - "templates"
      summary: "Delete template"
      description: "Delete a template."
      operationId: "postTemplatesDelete"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_72"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_64"
      deprecated: false
      x-custom-config:
        methodNameCamel: "delete"
        methodNameSnake: "delete"
  /templates/list:
    post:
      tags:
      - "templates"
      summary: "List templates"
      description: "Return a list of all the templates available to this user."
      operationId: "postTemplatesList"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_73"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "an array of structs with information about each template"
            items:
              $ref: "#/definitions/inline_response_200_65"
      deprecated: false
      x-custom-config:
        methodNameCamel: "list"
        methodNameSnake: "list"
  /templates/time-series:
    post:
      tags:
      - "templates"
      summary: "Get template history"
      description: "Return the recent history (hourly stats for the last 30 days)\
        \ for a template."
      operationId: "postTemplatesTimeSeries"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_74"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the array of history information"
            items:
              $ref: "#/definitions/inline_response_200_49"
      deprecated: false
      x-custom-config:
        methodNameCamel: "timeSeries"
        methodNameSnake: "time_series"
  /templates/render:
    post:
      tags:
      - "templates"
      summary: "Render html template"
      description: "Inject content and optionally merge fields into a template, returning\
        \ the HTML that results."
      operationId: "postTemplatesRender"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_75"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_66"
      deprecated: false
      x-custom-config:
        methodNameCamel: "render"
        methodNameSnake: "render"
  /urls/list:
    post:
      tags:
      - "urls"
      summary: "List most clicked urls"
      description: "Get the 100 most clicked URLs."
      operationId: "postUrlsList"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_76"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the 100 most clicked URLs and their stats"
            items:
              $ref: "#/definitions/inline_response_200_67"
      deprecated: true
      x-custom-config:
        methodNameCamel: "list"
        methodNameSnake: "list"
  /urls/search:
    post:
      tags:
      - "urls"
      summary: "Search most clicked urls"
      description: "Return the 100 most clicked URLs that match the search query given."
      operationId: "postUrlsSearchDeprecated"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_77"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the 100 most clicked URLs matching the search query"
            items:
              $ref: "#/definitions/inline_response_200_68"
      deprecated: true
      x-custom-config:
        methodNameCamel: "search"
        methodNameSnake: "search"
  /urls/time-series:
    post:
      tags:
      - "urls"
      summary: "Get url history"
      description: "Return the recent history (hourly stats for the last 30 days)\
        \ for a URL"
      operationId: "postUrlsTimeSeries"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_78"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the array of history information"
            items:
              $ref: "#/definitions/inline_response_200_69"
      deprecated: true
      x-custom-config:
        methodNameCamel: "timeSeries"
        methodNameSnake: "time_series"
  /urls/tracking-domains:
    post:
      tags:
      - "urls"
      summary: "List tracking domains"
      description: "Get the list of tracking domains set up for this account."
      operationId: "postUrlsTrackingDomains"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_79"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the tracking domains and their status"
            items:
              $ref: "#/definitions/inline_response_200_70"
      deprecated: false
      x-custom-config:
        methodNameCamel: "trackingDomains"
        methodNameSnake: "tracking_domains"
  /urls/add-tracking-domain:
    post:
      tags:
      - "urls"
      summary: "Add tracking domains"
      description: "Add a tracking domain to your account."
      operationId: "postUrlsAddTrackingDomain"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_80"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_71"
      deprecated: false
      x-custom-config:
        methodNameCamel: "addTrackingDomain"
        methodNameSnake: "add_tracking_domain"
  /urls/check-tracking-domain:
    post:
      tags:
      - "urls"
      summary: "Check cname settings"
      description: "Checks the CNAME settings for a tracking domain. The domain must\
        \ have been added already with the add-tracking-domain call."
      operationId: "postUrlsCheckTrackingDomain"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_81"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_71"
      deprecated: false
      x-custom-config:
        methodNameCamel: "checkTrackingDomain"
        methodNameSnake: "check_tracking_domain"
  /users/info:
    post:
      tags:
      - "users"
      summary: "Get user info"
      description: "Return the information about the API-connected user."
      operationId: "postUsersInfo"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_82"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_72"
      deprecated: false
      x-custom-config:
        methodNameCamel: "info"
        methodNameSnake: "info"
  /users/ping:
    post:
      tags:
      - "users"
      summary: "Ping"
      description: "Validate an API key and respond to a ping."
      operationId: "postUsersPing"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_83"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "string"
            description: "the string \"PONG!\""
            example: "PONG!"
      deprecated: false
      x-custom-config:
        methodNameCamel: "ping"
        methodNameSnake: "ping"
  /users/ping2:
    post:
      tags:
      - "users"
      summary: "Ping 2"
      description: "Validate an API key and respond to a ping (JSON parser version)."
      operationId: "postUsersPing2"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_84"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_73"
      deprecated: false
      x-custom-config:
        methodNameCamel: "ping2"
        methodNameSnake: "ping2"
  /users/senders:
    post:
      tags:
      - "users"
      summary: "List account senders"
      description: "Return the senders that have tried to use this account, both verified\
        \ and unverified."
      operationId: "postUsersSenders"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_85"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "an array of sender data, one for each sending addresses\
              \ used by the account"
            items:
              $ref: "#/definitions/inline_response_200_43"
      deprecated: false
      x-custom-config:
        methodNameCamel: "senders"
        methodNameSnake: "senders"
  /webhooks/list:
    post:
      tags:
      - "webhooks"
      summary: "List webhooks"
      description: "Get the list of all webhooks defined on the account."
      operationId: "postWebhooksList"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_86"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "the webhooks associated with the account"
            items:
              $ref: "#/definitions/inline_response_200_74"
      deprecated: false
      x-custom-config:
        methodNameCamel: "list"
        methodNameSnake: "list"
  /webhooks/add:
    post:
      tags:
      - "webhooks"
      summary: "Add webhook"
      description: "Add a new webhook."
      operationId: "postWebhooksAdd"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_87"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_75"
      deprecated: false
      x-custom-config:
        methodNameCamel: "add"
        methodNameSnake: "add"
  /webhooks/info:
    post:
      tags:
      - "webhooks"
      summary: "Get webhook info"
      description: "Given the ID of an existing webhook, return the data about it."
      operationId: "postWebhooksInfo"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_88"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_76"
      deprecated: false
      x-custom-config:
        methodNameCamel: "info"
        methodNameSnake: "info"
  /webhooks/update:
    post:
      tags:
      - "webhooks"
      summary: "Update webhook"
      description: "Update an existing webhook."
      operationId: "postWebhooksUpdate"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_89"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_77"
      deprecated: false
      x-custom-config:
        methodNameCamel: "update"
        methodNameSnake: "update"
  /webhooks/delete:
    post:
      tags:
      - "webhooks"
      summary: "Delete webhook"
      description: "Delete an existing webhook."
      operationId: "postWebhooksDelete"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_90"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_78"
      deprecated: false
      x-custom-config:
        methodNameCamel: "delete"
        methodNameSnake: "delete"
  /whitelists/add:
    post:
      tags:
      - "whitelists"
      summary: "Add email to allowlist"
      description: "Adds an email to your email rejection allowlist. If the address\
        \ is currently on your denylist, that denylist entry will be removed automatically."
      operationId: "postWhitelistsAdd"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_91"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200"
      deprecated: false
      x-custom-config:
        methodNameCamel: "add"
        methodNameSnake: "add"
  /whitelists/list:
    post:
      tags:
      - "whitelists"
      summary: "List allowlisted emails"
      description: "Retrieves your email rejection allowlist. You can provide an email\
        \ address or search prefix to limit the results. Returns up to 1000 results."
      operationId: "postWhitelistsList"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_92"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            description: "up to 1000 allowlist entries"
            items:
              $ref: "#/definitions/inline_response_200_1"
      deprecated: false
      x-custom-config:
        methodNameCamel: "list"
        methodNameSnake: "list"
  /whitelists/delete:
    post:
      tags:
      - "whitelists"
      summary: "Remove email from allowlist"
      description: "Removes an email address from the allowlist."
      operationId: "postWhitelistsDelete"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/body_93"
        x-exportParamName: "Body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_2"
      deprecated: false
      x-custom-config:
        methodNameCamel: "delete"
        methodNameSnake: "delete"
definitions:
  body:
    type: "object"
    required:
    - "email"
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      email:
        type: "string"
        format: "email"
        description: "an email address to add to the allowlist"
      comment:
        type: "string"
        description: "an optional description of why the email was added to the allowlist"
        maxLength: 255
  inline_response_200:
    type: "object"
    properties:
      email:
        type: "string"
        description: "the email address you provided"
      added:
        type: "boolean"
        description: "whether the operation succeeded"
    description: "a status object containing the address and the result of the operation"
    example:
      added: true
      email: "email"
  body_1:
    type: "object"
    required:
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      email:
        type: "string"
        format: "email"
        description: "an optional email address or prefix to search by"
  inline_response_200_1:
    type: "object"
    properties:
      email:
        type: "string"
        format: "email"
        description: "the email that is allowlisted"
      detail:
        type: "string"
        description: "a description of why the email was allowlisted"
      created_at:
        type: "string"
        format: "date-time"
        description: "when the email was added to the allowlist"
    description: "the information for each allowlist entry"
    example:
      created_at: "2000-01-23T04:56:07.000+00:00"
      detail: "detail"
      email: "email"
  body_2:
    type: "object"
    required:
    - "email"
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      email:
        type: "string"
        format: "email"
        description: "the email address to remove from the allowlist"
  inline_response_200_2:
    type: "object"
    properties:
      email:
        type: "string"
        description: "the email address that was removed from the denylist"
      deleted:
        type: "boolean"
        description: "whether the address was deleted successfully"
    description: "a status object containing the address and whether the deletion\
      \ succeeded"
    example:
      deleted: true
      email: "email"
  body_3:
    type: "object"
    required:
    - "id"
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      id:
        type: "string"
        description: "an export job identifier"
  inline_response_200_3:
    type: "object"
    properties:
      id:
        type: "string"
        description: "the unique identifier for this Export. Use this identifier when\
          \ checking the export job's status"
      created_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the export job was created as a UTC string\
          \ in YYYY-MM-DD HH:MM:SS format"
      type:
        type: "string"
        description: "the type of the export job - activity, reject, or allowlist"
      finished_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the export job was finished as a UTC\
          \ string in YYYY-MM-DD HH:MM:SS format"
      state:
        type: "string"
        description: "the export job's state - waiting, working, complete, error,\
          \ or expired."
      result_url:
        type: "string"
        description: "the url for the export job's results, if the job is completed."
    description: "the information about the export"
    example:
      result_url: "result_url"
      finished_at: "2000-01-23T04:56:07.000+00:00"
      created_at: "2000-01-23T04:56:07.000+00:00"
      id: "id"
      state: "state"
      type: "type"
  body_4:
    type: "object"
    required:
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
  inline_response_200_4:
    type: "object"
    properties:
      id:
        type: "string"
        description: "the unique identifier for this Export. Use this identifier when\
          \ checking the export job's status"
      created_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the export job was created as a UTC string\
          \ in YYYY-MM-DD HH:MM:SS format"
      type:
        type: "string"
        description: "the type of the export job - activity, reject, or allowlist"
      finished_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the export job was finished as a UTC\
          \ string in YYYY-MM-DD HH:MM:SS format"
      state:
        type: "string"
        description: "the export job's state - waiting, working, complete, error,\
          \ or expired."
      result_url:
        type: "string"
        description: "the url for the export job's results, if the job is completed."
    description: "the individual export info"
    example:
      result_url: "result_url"
      finished_at: "2000-01-23T04:56:07.000+00:00"
      created_at: "2000-01-23T04:56:07.000+00:00"
      id: "id"
      state: "state"
      type: "type"
  body_5:
    type: "object"
    required:
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      notify_email:
        type: "string"
        format: "email"
        description: "an optional email address to notify when the export job has\
          \ finished."
  inline_response_200_5:
    type: "object"
    properties:
      id:
        type: "string"
        description: "the unique identifier for this Export. Use this identifier when\
          \ checking the export job's status"
      created_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the export job was created as a UTC string\
          \ in YYYY-MM-DD HH:MM:SS format"
      type:
        type: "string"
        description: "the type of the export job - activity, reject, or whitelist"
      finished_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the export job was finished as a UTC\
          \ string in YYYY-MM-DD HH:MM:SS format"
      state:
        type: "string"
        description: "the export job's state - waiting, working, complete, error,\
          \ or expired."
      result_url:
        type: "string"
        description: "the url for the export job's results, if the job is completed."
    description: "information about the rejects export job that was started"
    example:
      result_url: "result_url"
      finished_at: "2000-01-23T04:56:07.000+00:00"
      created_at: "2000-01-23T04:56:07.000+00:00"
      id: "id"
      state: "state"
      type: "type"
  body_6:
    type: "object"
    required:
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      notify_email:
        type: "string"
        format: "email"
        description: "an optional email address to notify when the export job has\
          \ finished."
  inline_response_200_6:
    type: "object"
    properties:
      id:
        type: "string"
        description: "the unique identifier for this Export. Use this identifier when\
          \ checking the export job's status"
      created_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the export job was created as a UTC string\
          \ in YYYY-MM-DD HH:MM:SS format"
      type:
        type: "string"
        description: "the type of the export job"
      finished_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the export job was finished as a UTC\
          \ string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run"
      state:
        type: "string"
        description: "the export job's state"
      result_url:
        type: "string"
        description: "the url for the export job's results, if the job is complete"
    description: "information about the allowlist export job that was started"
    example:
      result_url: "result_url"
      finished_at: "2000-01-23T04:56:07.000+00:00"
      created_at: "2000-01-23T04:56:07.000+00:00"
      id: "id"
      state: "state"
      type: "type"
  body_7:
    type: "object"
    required:
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      notify_email:
        type: "string"
        format: "email"
        description: "an optional email address to notify when the export job has\
          \ finished."
  body_8:
    type: "object"
    required:
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      notify_email:
        type: "string"
        format: "email"
        description: "an optional email address to notify when the export job has\
          \ finished"
      date_from:
        type: "string"
        format: "date-time"
        description: "start date as a UTC string in YYYY-MM-DD HH:MM:SS format"
      date_to:
        type: "string"
        format: "date-time"
        description: "end date as a UTC string in YYYY-MM-DD HH:MM:SS format"
      tags:
        type: "array"
        description: "an array of tag names to narrow the export to; will match messages\
          \ that contain ANY of the tags"
        items:
          type: "string"
          description: "a tag name"
      senders:
        type: "array"
        description: "an array of senders to narrow the export to"
        items:
          type: "string"
          description: "a sender address"
      states:
        type: "array"
        description: "an array of message states to narrow the export to; messages\
          \ with ANY of the states will be included"
        items:
          type: "string"
          description: "a message state"
          enum:
          - "sent"
          - "rejected"
          - "bounced"
          - "soft-bounced"
          - "spam"
          - "unsub"
      api_keys:
        type: "array"
        description: "an array of api keys to narrow the export to; messsagse sent\
          \ with ANY of the keys will be included"
        items:
          type: "string"
          description: "an API key associated with your account"
  inline_response_200_7:
    type: "object"
    properties:
      id:
        type: "string"
        description: "the unique identifier for this Export. Use this identifier when\
          \ checking the export job's status"
      created_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the export job was created as a UTC string\
          \ in YYYY-MM-DD HH:MM:SS format"
      type:
        type: "string"
        description: "the type of the export job"
      finished_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the export job was finished as a UTC\
          \ string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run"
      state:
        type: "string"
        description: "the export job's state"
      result_url:
        type: "string"
        description: "the url for the export job's results, if the job is complete"
    description: "information about the activity export job that was started"
    example:
      result_url: "result_url"
      finished_at: "2000-01-23T04:56:07.000+00:00"
      created_at: "2000-01-23T04:56:07.000+00:00"
      id: "id"
      state: "state"
      type: "type"
  body_9:
    type: "object"
    required:
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
  inline_response_200_8:
    type: "object"
    properties:
      domain:
        type: "string"
        description: "the domain name that is accepting mail"
      created_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the inbound domain was added as a UTC\
          \ string in YYYY-MM-DD HH:MM:SS format"
      valid_mx:
        type: "boolean"
        description: "true if this inbound domain has successfully set up an MX record\
          \ to deliver mail to the Mandrill servers"
    description: "the individual domain info"
    example:
      domain: "domain"
      valid_mx: true
      created_at: "2000-01-23T04:56:07.000+00:00"
  body_10:
    type: "object"
    required:
    - "domain"
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      domain:
        type: "string"
        description: "a domain name; Validation: strip_tags, required"
  inline_response_200_9:
    type: "object"
    properties:
      domain:
        type: "string"
        description: "the domain name that is accepting mail"
      created_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the inbound domain was added as a UTC\
          \ string in YYYY-MM-DD HH:MM:SS format"
      valid_mx:
        type: "boolean"
        description: "true if this inbound domain has successfully set up an MX record\
          \ to deliver mail to the Mandrill servers"
    description: "information about the domain"
    example:
      domain: "domain"
      valid_mx: true
      created_at: "2000-01-23T04:56:07.000+00:00"
  body_11:
    type: "object"
    required:
    - "domain"
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      domain:
        type: "string"
        description: "an existing inbound domain"
  inline_response_200_10:
    type: "object"
    properties:
      domain:
        type: "string"
        description: "the domain name that is accepting mail"
      created_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the inbound domain was added as a UTC\
          \ string in YYYY-MM-DD HH:MM:SS format"
      valid_mx:
        type: "boolean"
        description: "true if this inbound domain has successfully set up an MX record\
          \ to deliver mail to the Mandrill servers"
    description: "information about the inbound domain"
    example:
      domain: "domain"
      valid_mx: true
      created_at: "2000-01-23T04:56:07.000+00:00"
  body_12:
    type: "object"
    required:
    - "domain"
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      domain:
        type: "string"
        description: "an existing inbound domain"
  inline_response_200_11:
    type: "object"
    properties:
      domain:
        type: "string"
        description: "the domain name that is accepting mail"
      created_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the inbound domain was added as a UTC\
          \ string in YYYY-MM-DD HH:MM:SS format"
      valid_mx:
        type: "boolean"
        description: "true if this inbound domain has successfully set up an MX record\
          \ to deliver mail to the Mandrill servers"
    description: "information about the deleted domain"
    example:
      domain: "domain"
      valid_mx: true
      created_at: "2000-01-23T04:56:07.000+00:00"
  body_13:
    type: "object"
    required:
    - "domain"
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      domain:
        type: "string"
        description: "the domain to check"
  inline_response_200_12:
    type: "object"
    properties:
      id:
        type: "string"
        description: "the unique identifier of the route"
      pattern:
        type: "string"
        description: "the search pattern that the mailbox name should match"
      url:
        type: "string"
        description: "the webhook URL where inbound messages will be published"
    description: "the individual mailbox route"
    example:
      pattern: "pattern"
      id: "id"
      url: "url"
  body_14:
    type: "object"
    required:
    - "domain"
    - "key"
    - "pattern"
    - "url"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      domain:
        type: "string"
        description: "an existing inbound domain"
      pattern:
        type: "string"
        description: "the search pattern that the mailbox name should match"
      url:
        type: "string"
        description: "the webhook URL where the inbound messages will be published"
  inline_response_200_13:
    type: "object"
    properties:
      id:
        type: "string"
        description: "the unique identifier of the route"
      pattern:
        type: "string"
        description: "the search pattern that the mailbox name should match"
      url:
        type: "string"
        description: "the webhook URL where inbound messages will be published"
    description: "the added mailbox route information"
    example:
      pattern: "pattern"
      id: "id"
      url: "url"
  body_15:
    type: "object"
    required:
    - "id"
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      id:
        type: "string"
        description: "the unique identifier of an existing mailbox route"
      pattern:
        type: "string"
        description: "the search pattern that the mailbox name should match"
      url:
        type: "string"
        description: "the webhook URL where the inbound messages will be published;\
          \ Validation: webhookexists"
  inline_response_200_14:
    type: "object"
    properties:
      id:
        type: "string"
        description: "the unique identifier of the route"
      pattern:
        type: "string"
        description: "the search pattern that the mailbox name should match"
      url:
        type: "string"
        description: "the webhook URL where inbound messages will be published"
    description: "the updated mailbox route information"
    example:
      pattern: "pattern"
      id: "id"
      url: "url"
  body_16:
    type: "object"
    required:
    - "id"
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      id:
        type: "string"
        description: "the unique identifier of an existing route"
  inline_response_200_15:
    type: "object"
    properties:
      id:
        type: "string"
        description: "the unique identifier of the route"
      pattern:
        type: "string"
        description: "the search pattern that the mailbox name should match"
      url:
        type: "string"
        description: "the webhook URL where inbound messages will be published"
    description: "the deleted mailbox route information"
    example:
      pattern: "pattern"
      id: "id"
      url: "url"
  body_17:
    type: "object"
    required:
    - "key"
    - "raw_message"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      raw_message:
        type: "string"
        description: "the full MIME document of an email message"
      to:
        type: "array"
        description: "optionally define the recipients to receive the message - otherwise\
          \ we'll use the To, Cc, and Bcc headers provided in the document"
        items:
          type: "string"
          format: "email"
          description: "the email address of the recipient"
      mail_from:
        type: "string"
        format: "email"
        description: "the address specified in the MAIL FROM stage of the SMTP conversation.\
          \ Required for the SPF check."
      helo:
        type: "string"
        description: "the identification provided by the client mta in the MTA state\
          \ of the SMTP conversation. Required for the SPF check."
      client_address:
        type: "string"
        description: "the remote MTA's ip address. Optional; required for the SPF\
          \ check."
  inline_response_200_16:
    type: "object"
    properties:
      email:
        type: "string"
        description: "the email address of the matching recipient"
      pattern:
        type: "string"
        description: "the mailbox route pattern that the recipient matched"
      url:
        type: "string"
        description: "the webhook URL that the message was posted to"
    description: "the individual recipient information"
    example:
      pattern: "pattern"
      email: "email"
      url: "url"
  body_18:
    type: "object"
    required:
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
  ipslist_custom_dns:
    type: "object"
    properties:
      enabled:
        type: "boolean"
        description: "a boolean indicating whether custom dns has been configured\
          \ for this ip"
      valid:
        type: "boolean"
        description: "whether the ip's custom dns is currently valid"
      error:
        type: "string"
        description: "if the ip's custom dns is invalid, this will include details\
          \ about the error"
    description: "information about the ip's custom dns, if it has been configured"
    example:
      valid: true
      error: "error"
      enabled: true
  ipslist_warmup:
    type: "object"
    properties:
      warming_up:
        type: "boolean"
        description: "whether the ip is currently in warmup mode"
      start_at:
        type: "string"
        format: "date-time"
        description: "the start time for the warmup process as a UTC string in YYYY-MM-DD\
          \ HH:MM:SS format"
      end_at:
        type: "string"
        format: "date-time"
        description: "the end date and time for the warmup process as a UTC string\
          \ in YYYY-MM-DD HH:MM:SS format"
    description: "information about the ip's warmup status"
    example:
      end_at: "2000-01-23T04:56:07.000+00:00"
      warming_up: true
      start_at: "2000-01-23T04:56:07.000+00:00"
  inline_response_200_17:
    type: "object"
    properties:
      ip:
        type: "string"
        description: "the ip address"
      created_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the dedicated IP was created as a UTC\
          \ string in YYYY-MM-DD HH:MM:SS format"
      pool:
        type: "string"
        description: "the name of the pool that this dedicated IP belongs to"
      domain:
        type: "string"
        description: "the domain name (reverse dns) of this dedicated IP"
      custom_dns:
        $ref: "#/definitions/ipslist_custom_dns"
      warmup:
        $ref: "#/definitions/ipslist_warmup"
    description: "information about a single dedicated IP"
    example:
      custom_dns:
        valid: true
        error: "error"
        enabled: true
      ip: "ip"
      domain: "domain"
      pool: "pool"
      created_at: "2000-01-23T04:56:07.000+00:00"
      warmup:
        end_at: "2000-01-23T04:56:07.000+00:00"
        warming_up: true
        start_at: "2000-01-23T04:56:07.000+00:00"
  body_19:
    type: "object"
    required:
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      ip:
        type: "string"
        description: "a dedicated IP address"
  inline_response_200_18:
    type: "object"
    properties:
      ip:
        type: "string"
        description: "the ip address"
      created_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the dedicated IP was created as a UTC\
          \ string in YYYY-MM-DD HH:MM:SS format"
      pool:
        type: "string"
        description: "the name of the pool that this dedicated IP belongs to"
      domain:
        type: "string"
        description: "the domain name (reverse dns) of this dedicated IP"
      custom_dns:
        $ref: "#/definitions/ipslist_custom_dns"
      warmup:
        $ref: "#/definitions/ipslist_warmup"
    description: "Information about the dedicated ip"
    example:
      custom_dns:
        valid: true
        error: "error"
        enabled: true
      ip: "ip"
      domain: "domain"
      pool: "pool"
      created_at: "2000-01-23T04:56:07.000+00:00"
      warmup:
        end_at: "2000-01-23T04:56:07.000+00:00"
        warming_up: true
        start_at: "2000-01-23T04:56:07.000+00:00"
  body_20:
    type: "object"
    required:
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      warmup:
        type: "boolean"
        description: "whether to enable warmup mode for the ip"
      pool:
        type: "string"
        description: "the id of the pool to add the dedicated ip to, or null to use\
          \ your account's default pool"
  inline_response_200_19:
    type: "object"
    properties:
      requested_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the request was created as a UTC timestamp\
          \ in YYYY-MM-DD HH:MM:SS format"
    description: "a description of the provisioning request that was created"
    example:
      requested_at: "2000-01-23T04:56:07.000+00:00"
  body_21:
    type: "object"
    required:
    - "ip"
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      ip:
        type: "string"
        description: "a dedicated ip address"
  inline_response_200_20:
    type: "object"
    properties:
      ip:
        type: "string"
        description: "the ip address"
      created_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the dedicated IP was created as a UTC\
          \ string in YYYY-MM-DD HH:MM:SS format"
      pool:
        type: "string"
        description: "the name of the pool that this dedicated IP belongs to"
      domain:
        type: "string"
        description: "the domain name (reverse dns) of this dedicated IP"
      custom_dns:
        $ref: "#/definitions/ipslist_custom_dns"
      warmup:
        $ref: "#/definitions/ipslist_warmup"
    description: "Information about the dedicated IP"
    example:
      custom_dns:
        valid: true
        error: "error"
        enabled: true
      ip: "ip"
      domain: "domain"
      pool: "pool"
      created_at: "2000-01-23T04:56:07.000+00:00"
      warmup:
        end_at: "2000-01-23T04:56:07.000+00:00"
        warming_up: true
        start_at: "2000-01-23T04:56:07.000+00:00"
  body_22:
    type: "object"
    required:
    - "ip"
    - "key"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      ip:
        type: "string"
        description: "a dedicated ip address"
  body_23:
    type: "object"
    required:
    - "ip"
    - "key"
    - "pool"
    properties:
      key:
        type: "string"
        description: "a valid api key"
      ip:
        type: "string"
        description: "a dedicated ip address"
      pool:
        type: "string"
        description: "the name of the new pool to add the dedicated ip to"
      create_pool:
        type: "boolean"
        description: "whether to create the pool if it does not exist; if false and\
          \ the pool does not exist, an Unknown_Pool will be thrown."
  inline_response_200_21:
    type: "object"
    properties:
      ip:
        type: "string"
        description: "the ip address"
      created_at:
        type: "string"
        format: "date-time"
        description: "the date and time that the dedicated IP was created as a UTC\
          \ string in YYYY-MM-DD HH:MM:SS format"
      pool:
        type: "string"
        description: "the name of the pool that this dedicated IP belongs to"
      domain:
        type: "string"
        description: "the domain name (reverse dns) of this dedicated IP"
      custom_dns:
        $ref: "#/definitions/ipslist_custom_dns"
      warmup:
[...]
